.header {
  margin-top: calc(var(--padding) * 2);
}

.about-container {
  max-width: 600px;
}
.about-container h2 {
  margin-top: 10px;
  margin-bottom: 7px;
}
.about-container img {
  width: 400px;
  height: 50px;
}
