.authenticate-container {
  margin-top: calc(var(--padding) * 2);
}

.auth {
  border: 2px solid rgba(50, 200, 0);
  padding: 10px;
  color: rgba(50, 200, 0);
  margin-bottom: 20px;
}

.notes-list {
  padding-left: 8px;
  color: var(--color-3);
  max-width: 400px;
}

.notes-list li {
  margin-top: 4px;
}

.notes-title {
  margin: 25px 0 10px 0;
}
