:root {
  --color-1: rgb(10, 10, 10);
  --color-2: rgb(245, 245, 245);
  --color-3: rgb(150, 150, 150);
  --padding: 40px;
  --block-size: 300px;
}
* {
  font-family: monospace;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-2);
  background-color: var(--color-1);
}

.sabka-baap {
  display: flex;
  width: 100vw;
  height: 100vh;
}

h2 {
  font-size: 24px;
}

a {
  all: unset;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

p {
  font-size: 13px;
  line-height: 1.35em;
  color: var(--color-3);
}

.inline {
  display: flex;
}

input {
  all: unset;
  background: var(--color-1);
  color: var(--color-2);
  border: 2px solid var(--color-2);
  padding: calc(var(--padding) / 4);
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  margin: var(--margin) 20px var(--margin) 20px;
}

button {
  all: unset;
  cursor: pointer;
  border: 2px solid var(--color-2);
  padding: calc(var(--padding) / 4);
  transition: ease-in-out all 100ms;
}

button:hover {
  background: var(--color-2);
  color: var(--color-1);
}
