:root {
  --color-1: rgb(10, 10, 10);
  --color-2: rgb(245, 245, 245);
  --color-3: rgb(150, 150, 150);
  --padding: 40px;
  --block-size: 15vw;
}
* {
  font-family: monospace;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-2);
  background-color: var(--color-1);
}

.sabka-baap {
  display: flex;
  width: 100vw;
  height: 100vh;
}

h2 {
  font-size: 21px;
}

a {
  all: unset;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

p {
  font-size: 13px;
  line-height: 1.35em;
  color: var(--color-3);
}

.inline {
  display: flex;
}

input {
  --margin: calc(var(--padding) / 3);
  all: unset;
  background: var(--color-1);
  color: var(--color-2);
  border: 0.4px solid var(--color-2);
  padding: calc(var(--padding) / 4);
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  margin: var(--margin) 0px var(--margin) 0px;
}

.select-input {
  border: 2px solid var(--color-2);
  margin: var(--margin) 20px var(--margin) 20px;
}

button {
  all: unset;
  cursor: pointer;
  border: 2px solid var(--color-2);
  padding: calc(var(--padding) / 4);
  transition: ease-in-out all 100ms;
  max-width: 200px;
  margin: 10px 0;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
}

button:hover {
  background: var(--color-2);
  color: var(--color-1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.disabled {
  color: rgb(200, 30, 0);
  border: 0.7px solid rgb(200, 30, 0);
}

.disabled:hover {
  cursor: none;
  background: none;
  color: rgb(200, 30, 0);
  border: 0.7px solid rgb(200, 30, 0);
}

.block-mobile {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  color: white;
  padding: 30px;
  font-size: 18px;
  background-color: black;
  z-index: 42069;
  display: none;
  line-height: 1.6em;
}

.block-mobile span {
  cursor: pointer;
  border: 1px solid white;
  padding: 2px;
  animation: funky 5000ms infinite;
}

@keyframes funky {
  0% {
    color: var(--color-1);
  }
  50% {
    color: var(--color-2);
  }
  100% {
    color: var(--color-1);
  }
}

@media only screen and (max-width: 900px) {
  .block-mobile {
    display: block;
  }
}
