.playground-container {
  padding: var(--padding);
}

.domain {
  border: 1px solid var(--color-3);
  color: var(--color-3);
  padding: calc(var(--padding) / 3);
}

.endpoint {
  all: unset;
  border: 1px solid var(--color-3);
  color: var(--color-3);
  padding: calc(var(--padding) / 3);
}

.query {
  margin: calc(var(--padding) / 1.5) 0;
  display: flex;
}
