.playground-container {
  padding: var(--padding);
  max-width: 60vw;
}

.domain {
  border: 1px solid var(--color-3);
  color: var(--color-3);
  padding: calc(var(--padding) / 3);
  font-family: monospace;
}

.endpoint {
  all: unset;
  border: 1px solid var(--color-3);
  color: var(--color-3);
  padding: calc(var(--padding) / 3);
}

.query {
  margin: calc(var(--padding) / 1.5) 0;
  display: flex;
}

.back {
  font-size: 14px;
  color: var(--color-3);
  font-weight: 300;
  margin: 40px 0;
  cursor: pointer;
}

.select {
  width: var(--block-size);
  height: var(--block-size);
  --margin: calc(var(--padding) / 3);
  position: relative;
  border: 2px solid var(--color-2);
  margin: var(--margin) 20px var(--margin) 0;
  cursor: pointer;

  background-color: var(--color-1);
  color: var(--color-2);

  transition: ease-in-out all 100ms;
  text-overflow: wrap;
}

.select:hover {
  border: 2px solid var(--color-2);
  transform: scale(1.05);
  box-shadow: 1px 1px 30px 40px rgba(0, 0, 0, 0.3);
}

.select-name {
  font-size: 24px;
  margin: var(--margin) 20px var(--margin) 20px;
}

.select-description {
  opacity: 0;
  transition: ease-in-out all 100ms;
  margin: var(--margin) 20px var(--margin) 20px;
  font-size: 14px;
}

.show {
  opacity: 1;
}
.drop-down-child {
  cursor: pointer;
  background-color: var(--color-1);
  color: var(--color-2);
  border: 2px solid var(--color-2);
  padding: calc(var(--padding) / 4);
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  margin: 0 20px 0 20px;
}

.drop-down {
  cursor: pointer;
  background-color: var(--color-1);
  color: var(--color-2);
  border: 2px solid var(--color-2);
  padding: calc(var(--padding) / 4);
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  margin: var(--margin) 20px 0 20px;
}

.drop-down-child:hover {
  background-color: var(--color-2);
  color: var(--color-1);
}

.paginate-title {
  border: 1px solid var(--color-2);
  padding: 10px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
}
