.playground-container {
  padding: var(--padding);
}

.domain {
  border: 1px solid var(--color-3);
  color: var(--color-3);
  padding: calc(var(--padding) / 3);
}

.endpoint {
  all: unset;
  border: 1px solid var(--color-3);
  color: var(--color-3);
  padding: calc(var(--padding) / 3);
}

.query {
  margin: calc(var(--padding) / 1.5) 0;
  display: flex;
}

.select {
  width: 200px;
  height: 200px;
  --margin: calc(var(--padding) / 3);
  position: relative;
  border: 1px solid var(--color-2);
  margin: var(--margin) 20px var(--margin) 0;

  background-color: var(--color-1);
  color: var(--color-2);

  transition: ease-in-out all 100ms;
}

.select:hover {
  border: 2px solid var(--color-2);
}

.select-name {
  font-size: 24px;
  margin: var(--margin) 20px var(--margin) 20px;
}

.select-description {
  opacity: 0;
  transition: ease-in-out all 100ms;
  margin: var(--margin) 20px var(--margin) 20px;
  font-size: 14px;
}

.show {
  opacity: 1;
}
