.sidebar-container {
  width: 20vw;
  /* height: 100vh; */
  color: var(--primary-color);
  padding: var(--padding);
  position: relative;
  transition: ease-in all 100ms;
}

.hide-button {
  /* Dimension */
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 24px;
  right: 20px;
  cursor: pointer;
  transition: ease-in all 100ms;
}

.show-button {
  right: -80px;
}

.hide {
  background-color: var(--color-1);
  transform: translateX(calc(-20vw - var(--padding) - var(--padding)));
}
